<center>
<h1> Create your recipe!</h1>
<%= form_for(@recipe) do |f| %>

    <%= f.label :recipe_name, "Recipe Name"%>
    <%= f.text_field :recipe_name%><br><br>

    <%= f.label :serving_size, "Serving Size"%>
    <%= f.text_field :serving_size%><br><br>

    <%= f.label :directions, "Directions"%>
    <%= f.text_area :directions%><br><br>

    <%= f.label :ingredients, "Ingredients"%>
    <%= f.text_area :ingredients%><br><br>

    <%= f.submit %>
    <%end%>
</center>