<h1><%= @recipe.recipe_name %></h1>
<p> <strong>Serving Size: </strong><%= @recipe.serving_size%></p>
<p> <strong>Directions: </strong><%= @recipe.directions%> </p>
<p> <strong>Ingredients: </strong><%= @recipe.ingredients%> </p>
<br><br>

<%= link_to "Return to your homepage", user_path(@user)%>